<h1>Do you have a question?</h1>
<p>Your coach will be happy to answer!</p>

<div class="container">
<form class="form-question" action="/answer">
  <input type="text" name="question" placeholder="Your question here">
  <input type="submit" value="ASK!">
</form>
</div>

